@use 'utils/color-util.scss' as *;
@use 'utils/spacing-util.scss' as *;

.DgnBaseBlock {
  &--colorPrimary {
    background: color('primary', 500);
  }

  &--colorSecondary {
    background: color('secondary', 900);
  }

  &--paddingY {
    &Xsm {
      padding-block: spacing(2);
    }

    &Sm {
      padding-block: spacing(4);
    }

    &Md {
      padding-block: spacing(10);
    }

    &Lg{
      padding-block: spacing(15);
    }
  }
}