@use 'utils/color-util.scss' as * ;
@use 'utils/spacing-util.scss' as *;

.DgnBreadcrumbs {
  align-items: center;
  display: flex;
  gap: spacing(1);

  &__icon {
    font-size: 20px;
  }

  &__separator {
    color: color('neutral', 400);
  }
}