:root {
  /* Colors | Error */
  --dgn-color-error-50: 253, 242, 242;
  --dgn-color-error-100: 253, 232, 232;
  --dgn-color-error-200: 251, 213, 213;
  --dgn-color-error-300: 248, 180, 180;
  --dgn-color-error-400: 249, 128, 128;
  --dgn-color-error-500: 240, 82, 82;
  --dgn-color-error-600: 224, 36, 36;
  --dgn-color-error-700: 200, 30, 30;
  --dgn-color-error-800: 155, 28, 28;
  --dgn-color-error-900: 119, 29, 29;

  /* Colors | Info */
  --dgn-color-info-50: 239, 246, 255;
  --dgn-color-info-100: 219, 234, 254;
  --dgn-color-info-200: 191, 219, 254;
  --dgn-color-info-300: 147, 197, 253;
  --dgn-color-info-400: 96, 165, 250;
  --dgn-color-info-500: 59, 130, 246;
  --dgn-color-info-600: 37, 99, 235;
  --dgn-color-info-700: 29, 78, 216;
  --dgn-color-info-800: 30, 64, 175;
  --dgn-color-info-900: 30, 58, 138;

  /* Colors | Neutral */
  --dgn-color-neutral-50: 255, 255, 255;
  --dgn-color-neutral-100: 248, 248, 248;
  --dgn-color-neutral-200: 237, 237, 237;
  --dgn-color-neutral-300: 217, 217, 217;
  --dgn-color-neutral-400: 191, 191, 191;
  --dgn-color-neutral-500: 153, 153, 153;
  --dgn-color-neutral-600: 127, 127, 127;
  --dgn-color-neutral-700: 102, 102, 102;
  --dgn-color-neutral-800: 51, 51, 51;
  --dgn-color-neutral-900: 0, 0, 0;

  /* Colors | Primary */
  --dgn-color-primary-50: 249, 255, 230;
  --dgn-color-primary-100: 242, 255, 194;
  --dgn-color-primary-200: 232, 255, 148;
  --dgn-color-primary-300: 216, 255, 92;
  --dgn-color-primary-400: 201, 255, 37;
  --dgn-color-primary-500: 186, 253, 0;
  --dgn-color-primary-600: 157, 210, 0;
  --dgn-color-primary-700: 122, 169, 0;
  --dgn-color-primary-800: 92, 133, 0;
  --dgn-color-primary-900: 58, 90, 0;

  /* Colors | Secondary */
  --dgn-color-secondary-50: 113, 225, 225;
  --dgn-color-secondary-100: 101, 208, 208;
  --dgn-color-secondary-200: 89, 190, 190;
  --dgn-color-secondary-300: 54, 137, 137;
  --dgn-color-secondary-400: 30, 102, 102;
  --dgn-color-secondary-500: 6, 67, 67;
  --dgn-color-secondary-600: 6, 59, 59;
  --dgn-color-secondary-700: 5, 50, 50;
  --dgn-color-secondary-800: 3, 31, 31;
  --dgn-color-secondary-900: 1, 16, 16;

  /* Colors | Warning */
  --dgn-color-warning-50: 254, 252, 232;
  --dgn-color-warning-100: 254, 249, 195;
  --dgn-color-warning-200: 254, 240, 138;
  --dgn-color-warning-300: 253, 224, 71;
  --dgn-color-warning-400: 250, 204, 21;
  --dgn-color-warning-500: 234, 179, 8;
  --dgn-color-warning-600: 202, 138, 4;
  --dgn-color-warning-700: 161, 98, 7;
  --dgn-color-warning-800: 133, 77, 14;
  --dgn-color-warning-900: 113, 63, 18;

  /* Filters */
  --dgn-filter-color-neutral-900: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7500%) hue-rotate(13deg) brightness(117%) contrast(117%);
  --dgn-filter-color-primary-500: brightness(0) saturate(100%) invert(95%) sepia(26%) saturate(3388%) hue-rotate(16deg) brightness(97%) contrast(106%);

  /* Typography | Variants */
  --dgn-text-body: 1rem;
  --dgn-text-body-line-height: 125%;

  --dgn-text-caption: 0.875rem;
  --dgn-text-caption-line-height: 128%;

  --dgn-text-d2: 4.5rem;
  --dgn-text-d2-line-height: 125%;

  --dgn-text-h1: 2.5rem;
  --dgn-text-h1-line-height: 125%;
  --dgn-text-h2: 2rem;
  --dgn-text-h2-line-height: 125%;
  --dgn-text-h4: 1.5rem;
  --dgn-text-h4-line-height: 125%;
  --dgn-text-h5: 1.25rem;
  --dgn-text-h5-line-height: 125%;
  --dgn-text-h6: 1rem;
  --dgn-text-h6-line-height: 125%;
}

::selection {
  background: rgb(var(--dgn-color-error-500));
  color: rgb(var(--dgn-color-neutral-900))
}

a {
  text-decoration: none;
}

body {
  background: rgb(var(--dgn-color-secondary-900));
  color: rgb(var(--dgn-color-neutral-50));
  font-family: var(--dgn-font-outfit);
}

body, h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

img, svg {
  display: block;
}