@use 'utils/color-util.scss' as *;
@use 'utils/spacing-util.scss' as *;

.DgnHeaderBlock {
  border-bottom: 1px solid color('neutral', 800);

  & .DgnBaseBlock {
    &__container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}