@use 'utils/color-util.scss' as *;
@use 'utils/spacing-util.scss' as *;

.DgnProgramItem {
  padding-block: spacing(10);
  transition: background .25s ease-out;

  &__bottom {
    display: grid;
    gap: spacing(3);
    grid-template-columns: minmax(0,380px) 1fr 0.25fr;
  }

  &__button.DgnIconButton {
    margin-bottom: spacing(5);
    padding: spacing(2);
  }

  &__icon {
    filter: var(--dgn-filter-color-neutral-900);
    transition: filter .25 ease-out;
  }

  &__redirect {
    align-self: flex-end;
    justify-self: end;
    border: 1px solid color('neutral', 600);
    border-radius: 50%;
    padding: spacing(2.5);
    transition: border .25s ease-out;
  }

  &__redirectButton {
    &.DgnIconButton {
      background: color('neutral', 600);
      color: color('secondary', 900);
      padding: spacing(.5);
    }

    & .DgnBaseIcon {
      font-size: spacing(6);
    }
  }

  &__text {
    transition: color .25s ease-out;
  }

  &:hover {
    background: color('primary', 500);

    .DgnProgramItem {
      &__button.DgnIconButton {
        background: color('secondary', 800);
      }

      &__icon {
        filter: var(--dgn-filter-color-primary-500);
      }

      &__redirect {
        border-color: color('secondary', 800);

        & .DgnIconButton {
          background: color('secondary', 800);
          color: color('primary', 500);
        }
      }

      &__text {
        color: color('secondary', 800);
      }
    }
  }
}