@use 'utils/color-util.scss' as * ;
@use 'utils/typography-util.scss' as * ;

.DgnTypography {
  &--capitalize {
    text-transform: capitalize;
  }

  &--colorPrimary {
    color: color("neutral", 50);
  }

  &--colorSecondary {
    color: color('secondary', 800);
  }

  &--link {
    transition: color .25s ease-out;
    
    &:hover {
      color: color('primary', 500)
    }
  }

  &--variantBody {
    @include typography("body");
  }

  &--variantCaption {
    @include typography("caption");
  }

  &--variantD2 {
    @include typography("d2");
  }

  &--variantH2 {
    @include typography("h2");
  }

  &--variantH4 {
    @include typography("h4");
  }

  &--variantH5 {
    @include typography("h5");
  }

  &--variantH6 {
    @include typography("h6");
  }

  &--weightBold {
    font-weight: font_weight("bold");
  }

  &--weightExtra {
    font-weight: font_weight("extra");
  }

  &--weightMedium {
    font-weight: font_weight("medium");
  }

  &--weightRegular {
    font-weight: font_weight("regular");
  }

  &--weightSemi {
    font-weight: font_weight("semi");
  }

  &--withWhitespace {
    white-space: pre-line;
  }
}